@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center bg-light d-flex flex-column justify-content-center vh-100">
    <div class="container text-center">
        <h1 class="display-8">Welcome to Weather Now!</h1>
        <p class="lead py-3">We are committed to providing you with the most up-to-date and accurate weather data, powered by <a href="https://home.openweathermap.org/">OpenWeatherMap</a>.</p>
        <hr class="my-3">
        <p class="lead py-3">Are you planning a weekend getaway? Or are you just curious whether to carry an umbrella to work tomorrow? Let Weather Now answer all your weather-related questions.</p>
        <a class="btn btn-primary btn-lg" asp-area="Customer" asp-controller="Weather" asp-action="Index" role="button">Check Weather Now</a>
    </div>
</div>
