<!DOCTYPE html>
<html>
<head>
    <style>
        .hot-days-counter {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #ff6347;
            font-size: 3em;
        }

        .hot-days-counter h1 {
            text-shadow: 2px 2px #000;
        }
    </style>
</head>
<body>
<div class="hot-days-counter">
    <h1>There have been @ViewBag.HotDaysCount days in Kyiv with a temperature above 20 degrees</h1>
</div>
</body>
</html>